.profile-container {
  padding: 10px 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

  div {
    padding: 5px;
    align-items: center;

    label {
      font-weight: 400;
      padding: 5px;
    }
  }
}

.profile-input {
  width: 300px;
  border: none;
  padding: 8px;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}
